<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta httpEquiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta charSet="utf-8" />
    <meta
        name="description"
        content="CashView is a financial dashboard that allows you to securely connect and view all of your financial accounts in one location! Have several banks that you have holdings with? CashView is a convenient solution to tracking them all in one place!"
    />
    <meta property="og:title" content="CashView Wealth and Budgeting App by Bryce Beckenbach" />
    <meta property="og:url" content="https://wealth-and-budget.herokuapp.com/" />
    <meta
        property="og:description"
        content="CashView is a financial dashboard that allows you to securely connect and view all of your financial accounts in one location! Have several banks that you have holdings with? CashView is a convenient solution to tracking them all in one place!"
    />
    <meta property="og:image" content="https://img.money.com/2021/07/Explainer-How-To-Buy-Stocks.jpg">
    <meta property="og:type" content="website" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="static/stylesheets/connect.css">
    {% block stylesheet %} {% endblock %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {% block head %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #166095">
        <a class="navbar-brand" href="/"><i class="fas fa-dollar-sign"></i>CashView</a>
        <div class="ml-auto">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    {% if g.user %}
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Dashboard</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/users/update-profile">Update Profile</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/logout">Log out</a>
                        </li>
                    {% else %}
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/login">Log in</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/signup">Sign up</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
      </nav>
      {% block loader %}     {% endblock %}
    
    <div id="all-content">
        <div id="alerts" class="container">
            {% for category, message in get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{{ category }} flash">{{ message }}</div>
            {% endfor %}
        </div>
            {% block content %}    {% endblock %}
    </div>
    <div class="container text-center" style="margin-top: 20px; margin-bottom: 20px;">
        <h4>Created by <a href="https://brycebeckenbach.netlify.app/">Bryce Beckenbach</a></h4>
        <div className="social-links-container">
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/bryce-beckenbach-52a5276a/" style="margin-left: 5px; margin-right: 5px; margin-bottom: 5px;"><i class="fab fa-linkedin fa-2x"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/bbeckenb" style="margin-left: 5px; margin-right: 5px; margin-bottom: 5px;"><i class="fab fa-github-square fa-2x"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="mailto:brycebeckenbach@gmail.com" style="margin-left: 5px; margin-right: 5px; margin-bottom: 5px;"><i class="fas fa-envelope-square fa-2x"></i></a>
        </div>
    </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
        {% block script %}     {% endblock %}
</body>
</html>