{% extends 'base.html' %}
{% block head %} 
    {% if g.user.UFIs|length > 0 %}
        <!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
        <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            let data_to_insert = "{{g.user.pie_chart_data()}}"
            data_to_insert=data_to_insert.replaceAll('&#34;', '"')
            data_to_insert=JSON.parse(data_to_insert)   
            let data = google.visualization.arrayToDataTable(data_to_insert);
            let options = {
                title: 'Institution Breakdown',
                is3D: true,
                width: 450,
                height: 275,
                backgroundColor: {
                    fill: 'f5f5f5',
                    stroke: '#eef4f8',
                    strokeWidth: 1,
                    rx: 7.5,
                    ry: 7.5
                }
            };
            let chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
            chart.draw(data, options);
        }
        </script>
    {% endif %}
{% endblock %}
{% block title %} {{g.user.username}} Dashboard {% endblock %}
{% block content %}
    <div class="jumbotron" style="background-color: #f5f5f5;">
        <div class="text-center"><h1 class="display-4">{{g.user.username}} Dashboard</h1></div>
            <hr class="my-3">  
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="card text-dark bg-light mb-3">
                            <div class="card-body">
                                <ul id="dashboard-balances" class="list-group">
                                    {% if g.user.aggregate_UFI_balances() > 0 %}
                                    <li class="list-group-item list-group-item-action list-group-item-success text-dark bg-opacity-50">
                                    {% elif g.user.aggregate_UFI_balances() == 0 %}
                                    <li class="list-group-item list-group-item-action list-group-item-dark">
                                    {% else %}
                                    <li class="list-group-item list-group-item-action list-group-item-danger">
                                    {% endif %}
                                        <b>Total Wealth <i>(no loans)</i>:</b>  $ {{g.user.aggregate_UFI_balances()}}
                                    </li>
                                    {% if g.user.aggregate_UFI_balances(with_loans=True) > 0 %}
                                    <li class="list-group-item list-group-item-action list-group-item-success">
                                    {% elif g.user.aggregate_UFI_balances(with_loans=True) == 0 %}
                                    <li class="list-group-item list-group-item-action list-group-item-dark">
                                    {% else %}
                                    <li class="list-group-item list-group-item-action list-group-item-danger">
                                    {% endif %}
                                        <b>Total Wealth:</b> $ {{g.user.aggregate_UFI_balances(with_loans=True)}}
                                    </li>
                                </ul>
                                <hr class="my-3">
                                <div class="row justify-content-md-center">
                                    <h6><b>User Options</b></h6>
                                </div> 
                                <hr class="my-2">
                                <div class="row justify-content-md-center">
                                        <a href="/logout" class="btn btn-outline-primary btn-sm">Log out</a>
                                        <a href="/users/update-profile" class="btn btn-outline-primary btn-sm">Update Profile</a>
                                        <form action="/users/delete" method="POST"><button class="btn btn-outline-danger btn-sm" >Delete Profile</button></form>
                                        <button id="link-button" class="btn btn-outline-success btn-sm">Link Account</button>    
                                </div>
                                {% if g.user.account_type == 'sandbox' %}
                                    <hr class="my-3">  
                                        <div class="row justify-content-md-center">
                                            <h6><b>Sandbox Link Credentials</b></h6>
                                        </div>
                                        <div class="row justify-content-md-center">   
                                            <ul>
                                                <li><b>Username:</b> 'user_good'</li>
                                                <li><b>Password:</b> 'pass_good'</li>
                                                <li><b>Pin (if asked):</b> '1234'</li>
                                            </ul>
                                        </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="piechart_3d">
                        {% if g.user.UFIs|length == 0 %}
                                <p>No Institutions or no Accounts linked yet, click 'Link Account' under 'User Options' to get started</p>
                        {% endif %} 
                        </div>
                    </div>
                </div>
            </div>
        <hr class="my-4">
        <div class="container">
            <div id="UFI-holder" class="row">
                {% for institution in g.user.UFIs %}
                    <div id="UFI-{{institution.id}}" class="col-sm-12 col-md-6">
                        <div class="card bg-light mb-3" >                   
                            <div class="card-header" style="background-color: #166095; color: white;">
                                <div class="d-flex flex-row">
                                    <div class="mr-auto p-2">
                                        <h5 class="card-title">{{institution.name}}</h5>
                                    </div>
                                    <div class="p-2">
                                        <div class="btn-group">
                                            <button data-action="update" data-resource="UFI" data-id={{institution.id}} class="btn btn-sm btn-primary"><i class="fas fa-sync"></i></button>
                                            <button data-action="delete" data-resource="UFI" data-id={{institution.id}} class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                {% if institution.accounts|length == 0 %}
                                    <p>You have no accounts on record with this institution</p>
                                {% else %}
                                    <div>
                                        <ul id="Institution-{{institution.id}}-balances" class="list-group">
                                            {% if institution.aggregate_account_balances() > 0 %}
                                                <li class="list-group-item list-group-item-action list-group-item-success">
                                            {% elif institution.aggregate_account_balances() == 0 %}
                                                <li class="list-group-item list-group-item-action list-group-item-dark">
                                            {% else %}
                                                <li class="list-group-item list-group-item-action list-group-item-danger">
                                            {% endif %}
                                                    <b>Total Amount <i>(no loans)</i>:</b>  $ {{institution.aggregate_account_balances()}}
                                                </li>
                                            {% if institution.aggregate_account_balances(with_loans=True) > 0 %}
                                                <li class="list-group-item list-group-item-action list-group-item-success">
                                            {% elif institution.aggregate_account_balances(with_loans=True) == 0 %}
                                                <li class="list-group-item list-group-item-action list-group-item-dark">
                                            {% else %}
                                                <li class="list-group-item list-group-item-action list-group-item-danger">
                                            {% endif %}
                                                    <b>Total Amount:</b> $ {{institution.aggregate_account_balances(with_loans=True)}}
                                                </li>
                                        </ul>
                                        <hr class="my-4">
                                    </div>
                                    <ul class="list-group">
                                        {% for account in institution.accounts %}
                                            <li id="Account-{{account.id}}" class="list-group-item list-group-item-light">
                                                <ul class="list-group">
                                                    <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                                                        <b>{{account.name}}</b><button data-action="delete" data-resource="Account" data-id={{account.id}} class="btn btn-sm btn-outline-danger"><i class="far fa-trash-alt"></i></button>
                                                    </li>
                                                    {% if account.type == 'credit' %}
                                                        <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">Limit: $ {{account.limit}}</li>
                                                        <li class="list-group-item list-group-item-light">Spent: $ {{account.current}}</li>
                                                        <li class="list-group-item list-group-item-light">Available: $ {{account.limit - account.current}}</li>   
                                                    {% elif account.type == 'depository'%}
                                                        {% if account.subtype == 'checking' %}
                                                                <li class="list-group-item list-group-item-light">Available: $ {{account.available}}</li>
                                                                <li class="list-group-item list-group-item-light">Current: $ {{account.current}}</li> 
                                                        {% else %}
                                                                <li class="list-group-item list-group-item-light">Current: $ {{account.current}}</li>
                                                        {% endif %}
                                                    {% else %}
                                                        <li class="list-group-item list-group-item-light">Outstanding Balance: $ {{account.current}}</li>
                                                    {% endif %}
                                                    {% if account.budget_trackable %}
                                                        <li id="Account-{{account.id}}-BudgetTracker" class="list-group-item list-group-item-light">
                                                        {% if account.budgettracker %}
                                                            <ul class="list-group">
                                                                <li class="list-group-item list-group-item-primary"><b>BudgetTracker Status:</b></li>
                                                                <li class="list-group-item list-group-item-warning">Monthly Budget: $ {{account.budgettracker[0].budget_threshold}}</li>
                                                                <li class="list-group-item list-group-item-warning">Amount Spent: $ {{account.budgettracker[0].amount_spent}}</li>
                                                                <li class="list-group-item list-group-item-warning">Notification Frequency (days): {{account.budgettracker[0].notification_frequency}}</li>
                                                                <li class="list-group-item list-group-item-warning">Next Notification: {{account.budgettracker[0].pretty_print_next_notify_date()}}</li>
                                                                {% if g.user.account_type == 'sandbox' %}
                                                                    <li class="list-group-item list-group-item-info">Sandbox Account: Text Notification Ineligible</li>
                                                                {% endif %}
                                                                <li class="list-group-item list-group-item-primary">
                                                                    <div class="d-flex justify-content-center">
                                                                        <a href="/accounts/{{account.id}}/budget-tracker/update" class="btn btn-sm btn-outline-info"><i class="fas fa-pencil-alt"></i></a>
                                                                        <button data-action="delete" data-resource="BudgetTracker" data-id={{account.id}} class="btn btn-sm btn-outline-danger"><i class="far fa-trash-alt"></i></button>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        {% else %}
                                                                <div class="d-flex justify-content-center">
                                                                    <a href="/accounts/{{account.id}}/budget-tracker/create" class="btn btn-sm btn-outline-success">Create BudgetTracker</a>
                                                                </div>
                                                        {% endif %}
                                                        </li>
                                                    {% endif %}
                                                            </ul> 
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>       
    </div>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script src="static/js/plaidLink.js"></script> 
<script src="static/js/UFI.js"></script>
<script src="static/js/Account.js"></script>
<script src="static/js/BudgetTracker.js"></script>
<script src="static/js/dashBoard.js"></script>
<script src="static/js/loadingHeader.js"></script>
{% endblock %}