{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h2 class="join-message">Welcome back!</h2>

      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field.label }}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <div class="edit-btn-area">
          <button class="btn btn-outline-primary">Login</button>
          <a href="/" class="btn btn-outline-danger">Cancel</a>
        </div>
      </form>
    </div>
    
  </div>

{% endblock %}