{% extends 'base.html' %}
{% block title %} Sign up {% endblock %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h3>Sign up!</h3>
            <form method="POST">
                {{ form.hidden_tag() }}

                {% for field in form if field.widget.input_type != 'hidden' %}
                    {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                    {{ field.label }}
                    {{ field(placeholder=field.label.text, class="form-control") }}
                {% endfor %}
                <div class="edit-btn-area">
                    <button class="btn btn-outline-primary">Sign up</button>
                    <a href="/" class="btn btn-outline-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}