{% extends 'base.html' %}
{% block stylesheet %} 
  <link rel="stylesheet" href=".">
{% endblock %}
{% block title %} Update Profile {% endblock %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-4 row justify-content-md-center">
    <h2 class="join-message" style="margin-top: 20px;">Edit Your Profile.</h2>
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field.label }}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <p>To confirm changes, enter your password:</p>
        {% if form.password.errors %}
          {% for error in form.password.errors %}
            <span class="text-danger">
            {{ error }}
          </span>
          {% endfor %}
        {% endif %}
        {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}

        <div class="edit-btn-area row justify-content-md-center" style="margin-top: 10px;">
          <button class="btn btn-outline-success">Update</button>
          <a href="/" class="btn btn-outline-danger">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}